<form id="reset-password-form" action="/api/auth/reset-password/{{token}}" method="post">
    <label for="password">Nueva contrase単a:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirmPassword">Confirmar nueva contrase単a:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <button type="submit" id="confirm">Guardar contrase単a</button>
</form>

<script>

    const alert = res.json({ message: 'click' })
    document.getElementById('reset-password-form').onsubmit = async function(event) {
        event.preventDefault();
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        const response = await fetch('/api/auth/reset-password/${token}', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}`
    },
    body: JSON.stringify({
        password: newPassword,
        confirmPassword: confirmNewPassword
    })
})

        {{!-- const result = await response.json();
        alert(result.message);

        if (result.message === 'Nueva contrase単a guardada correctamente') {
            setTimeout(() => {
                window.location.href = '/login';
            }, 5000);
        } --}}
    };
</script>
