    <section>
    <form action="/api/auth/products" method="POST" enctype="multipart/form-data">
        <input type="file" name="productImages" multiple>
        <br /><br />
        <button type="submit">Subir imágenes de producto</button>
    </form>

    <br /><br />

    <form action="/api/auth/documents" method="POST" enctype="multipart/form-data">
        <input type="file" name="documentImages" multiple>
        <br /><br />
        <button type="submit">Subir documentos de usuario</button>
    </form>

    <br /><br />

     <form action="/api/auth/profiles" method="POST" enctype="multipart/form-data">
        <input type="file" name="documentImages" multiple>
        <br /><br />
        <button type="submit">Subir documentos de usuario</button>
    </form>
    </section>